<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= review.user.email %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Rating: <%= review.rating %></h6>
    <p class="card-text"><%= review.comment %></p>
    <% if current_user === review.user %>
      <%= button_to "Delete", restaurant_review_path(review), method: :delete %> 
    <% end %>
  </div>
</div>